@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --color-accent: #FF6900;
    --color-white: #ffffff;
    --color-black: #1A1A1A;
    --color-green: #00732e;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset imgs */
figure {
    display: inline-block;
}
img {
    display: block;
    max-width: 100%;
}
/* reset links */
a {
    text-decoration: none;
}

/* link styles */
a {
    
}
header a {
    color: var(--color-white);
}


/* color classes */
.text-white {
    color: var(--color-white);
}
.bg-accent {
    background-color: var(--color-accent);
}

/* flex rules */
.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.cross-axis-center {
    align-items: center;
}

/* header */

/* header nav links */
header nav ul li{
    display: inline-block;
    padding: 4px 4px;
}

